/* Base styles for the entire site */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #121212;
  color: #e0e0e0;
  margin: 0;
  padding: 0;
  background-image: url('src/cyberpunk-background.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

header {
  text-align: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5); /* Adjust opacity for less transparency */
  color: #ff77ff;
  border: none;
}

header h1 {
  margin: 0;
  font-size: 2.5em;
  font-weight: bold;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 20px auto;
  background: rgba(0, 0, 0, 0.5); /* Adjust opacity for less transparency */
  border-radius: 10px;
  max-width: 800px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
}

label, input, .hint, button {
  margin-bottom: 15px;
  width: 100%;
}

label {
  font-size: 1.1em;
  color: #ff77ff;
}

input {
  padding: 10px;
  font-size: 1em;
  border: 0; /* Remove border */
  border-radius: 5px;
  background-color: #333;
  color: #e0e0e0;
}

.hint {
  font-size: 0.9em;
  color: #00cc66;
}

button {
  padding: 12px 20px;
  background-color: #ff77ff;
  color: #121212;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: #00cc66;
  color: #121212;
}

footer {
  text-align: center;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5); /* Adjust opacity for less transparency */
  color: #ff77ff;
  border: none;
}

/* Additional styles for the profile page */
.experience, .achievements, .education { /* Add .education to elements with neon glow */
  margin: 20px 0;
  padding: 20px;
  background: rgba(0, 0, 0, 0.8); /* Adjust opacity if text is hidden */
  border-radius: 10px;
  width: 100%;
  box-shadow:
      0 0 40px 10px rgba(255, 119, 255, 0.8),
      0 0 70px 5px rgba(0, 255, 102, 0.5),
      0 0 80px 2px rgba(255, 0, 255, 0.2); /* Add neon glow effect */
}

.experience h2, .achievements h2, .education h2 { /* Add .education to elements with neon glow */
  color: #ff77ff;
}

.experience p, .achievements p, .education p { /* Add .education to elements with neon glow */
  font-size: 1em;
  line-height: 1.6;
}
